<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinprueba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LifeCycleEventsActivity"></activity>
        <activity android:name=".Activities.SharedPreferencesActivity" />
        <activity android:name=".Activities.PicassoActivity" />
        <activity android:name=".Activities.PermissionsActivity" />
        <activity android:name=".Activities.ListViewActivity" />
        <activity android:name=".Activities.KotlinAndroidExtensionsActivity" />
        <activity android:name=".Activities.IntentsActivity" />
        <activity android:name=".Activities.ExtensionFunctionsActivity" />
        <activity android:name=".Activities.LifeCycleActivity" />
        <activity android:name=".Activities.ClickEventsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>